body
{
    height: 100vh;
    background-image: url("Travel.jpg");
	background-size: cover;
    background-position: center;
}
.Welcome1,.Welcome2
{
    display: flex;
    justify-content: center;
    font-size: 40px;
    font-family:'Courier New', Courier, monospace;
    box-shadow: 10px 10px 10px;
    margin: 0px;
    margin-bottom: 20px;
}
.Questions
{
    width: 25vw;
    display: inline-block;
}
.Q1,.Q2,.Q3,.Other
{
    margin-bottom: 30px;
    justify-content: left;
    /*background: #CCCCCC;*/
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.CheckBox
{
   display: inline-block; 
}
/*
.SearchButton
{
    height: 30px;
    width: 200px;
    background-color: blueviolet;
    border-radius: 7px;
    transition:background-color 0.5s,box-shadow 0.5s;
    box-shadow: 10px 10px 10px;
    margin-top: 50px;
    border-color: blueviolet;
}
.SearchButton:hover
{
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.60);
    background-color: rgb(244, 133, 151);
    cursor: pointer;
    
}
.SearchButton:active
{
    cursor:cell;
}*/
.Results
{
    display:flex; 
    flex: 1; 
    align-items:center; 
    justify-content: center; 
    flex-direction: column; 
    font-size: 25px; 
    font-weight: 400;
}

.SystemChoices
{
    display: flex;
    align-items:center; 
    justify-content: center; 
    flex-direction: column;
}


.ChainingBtn,.DesicionTreeBtn,.SearchButton
{
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 15px;
    transition: background-color 0.15s,box-shadow 0.15s, width 0.35s, height 0.35s;
    margin: 10px;
    font-weight: bolder;
    
}
.SearchButton
{
    width: 150px;
}



.ChainingBtn:hover,.DesicionTreeBtn:hover,.SearchButton:hover
{
    background-color: skyblue;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width:250px;
    height:65px;
}



.SearchButton:hover
{
    width: 200px;
}

.DesicionTreeBody
{
    display: grid;
    grid-template-rows: 1fr 6fr;
    grid-template-columns: 1fr;
    place-items: center;
    align-items:center; 
    justify-content: center; 
    flex-direction: column;
    font-size: 50px;
    flex: 1 2;
}

.DesicionQuestion
{
    max-height: 150px;
}

.DesicionChoices
{
    display: flex;
    align-items:center; 
    justify-content: center ; 
    flex-direction: column;

    
}

.DesicionTreeChoice
{
    width: 200px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 10px;
    transition: background-color 0.15s,box-shadow 0.15s, width 0.35s, height 0.35s;
    margin: 10px;
    font-weight: bolder;
    font-size: 15px;
}


.DesicionTreeChoice:hover
{
    background-color: skyblue;
    cursor: pointer;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
    width:250px;
    height:65px;
}